<form role="form" action="/users/<%=@deck.user.id%>/decks/<%=@deck.id%>/cards/<%=@card.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <h3><%=@deck.title%></h3>
    <label for="front_side">Front Side</label>
    <input id="front_side" type="text" name="front_side">
    <br>
    <label for="back_side">Back Side</label>
    <input id="back_side" type="text" name="back_side">
    <br>
    <input type="submit" name="Edit" value="Edit">
</form>

<a href="/users/<%=@deck.user.id%>/decks/<%=@deck.id%>">Return to deck</a>
