
<h2><%=@card.front_side%></h2>
<% if @card.flip == true %>
  <h2><%=@card.back_side%></h2>
<% end %>
<h2><%=@card.learnt%></h2>
<div class="edit-card">
    <form role="form" action="/users/<%=@deck.user.id%>/decks/<%=@deck.id%>/cards/<%=@card.id%>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="submit" name="Learnt?" value="Learnt?">
    </form>
    <form class="delete-card" action="/users/<%=current_user.id%>/decks/<%=@deck.id%>/cards/<%=@card.id%>/flip" method="post">
        <input type="submit" name="Flip" value="Flip">
    </form>
    <form class="delete-card" action="/users/<%=current_user.id%>/decks/<%=@deck.id%>/cards/<%=@card.id%>/flip" method="post">
        <input type="submit" name="Hide" value="Hide">
    </form>
    <form class="delete-card" action="/users/<%=current_user.id%>/decks/<%=@deck.id%>/cards/<%=@card.id%>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>
    <form class="delete-card" action="/users/<%=current_user.id%>/decks/<%=@deck.id%>/cards/<%=@card.id%>/next" method="post">
        <input type="submit" value="Next card">
    </form>
</div>
<a class="anchor-link" href="/users/<%=current_user.id%>/decks/<%=@deck.id%>/cards/<%=@card.id%>/edit">Edit</a>
<a class="anchor-link" href="/users/<%=current_user.id%>/decks/<%=@card.deck.id%>">Return to Deck</a>
