<h1><%=current_user.username%></h1>
<h2>Your Decks</h2>
<div class="wrapper">
        <%current_user.decks.each_with_index do |deck, index|%>
        <div class="card">
            <p><%=index + 1%></p>
                <p>Title: <%=deck.title%></p>
                <p>Category: <%=deck.category%></p>
                <%if number_of_cards_in_deck(deck) == nil%>
                    <p>Contains: 0 cards</p>
                <%elsif number_of_cards_in_deck(deck) == 1%>
                    <p>Contains: 1 card</p>
                <%else%>
                    <p>Contains: <%=number_of_cards_in_deck(deck)%> cards</p>
                <%end%>
                <p>Cards learnt: <%=calculate_learnt_cards(deck)%></p>
                <a class="anchor-link" href="/users/<%=current_user.id%>/decks/<%=deck.id%>">View Deck</a>
                </div>
                <br>
        <%end%>
</div>
<div class="acc-create-deck">
    <a class="anchor-link" href="/users/<%=current_user.id%>/edit">Account Settings</a>
    <a class="anchor-link" href="/users/<%=current_user.id%>/decks/new">Create New Deck</a>
</div>
