<h1><%=current_user.username%></h1>
<h2>Your Decks</h2>
<div class="wrapper">
        <%current_user.decks.each_with_index do |deck, index|%>
        <div class="deck">
            <div class="deck-container">
                <strong class="card-info"><%=index + 1%></strong>
                <strong class="card-info">Title: <%=deck.title%></strong>
                <strong class="card-info">Category: <%=deck.category%></strong>
                <%if number_of_cards_in_deck(deck) == nil%>
                    <strong class="card-info">Contains: 0 cards</strong>
                <%elsif number_of_cards_in_deck(deck) == 1%>
                    <strong class="card-info">Contains: 1 card</strong>
                <%else%>
                    <strong class="card-info">Contains: <%=number_of_cards_in_deck(deck)%> cards</strong>
                <%end%>
                    <strong class="card-info">Cards learnt: <%=calculate_learnt_cards(deck)%></strong>
                    <a class="anchor-link" href="/users/<%=current_user.id%>/decks/<%=deck.id%>">View Deck</a>
                </div>
        </div>
        <br>
        <%end%>
</div>
<div class="acc-create-deck">
    <a class="anchor-link" href="/users/<%=current_user.id%>/edit">Account Settings</a>
    <a class="anchor-link" href="/users/<%=current_user.id%>/decks/new">Create New Deck</a>
</div>
