<%if flash[:message]%>
    <div class="errors">
        <ul>
        <%flash[:message].each do |error, message|%>
            <li><%=error.capitalize%>: <%=message[0]%></li>
        <%end%>
        </ul>
    </div>
<%end%>

<form role="form" action="/users/<%=@deck.user.id%>/decks/<%=@deck.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <h3><%=@deck.title%></h3>
    <label for="title">Title</label>
    <input type="text" name="title">
    <br>
    <h3><%=@deck.category%></h3>
    <label for="category">Category</label>
    <input type="text" name="category">
    <br>
    <input type="submit" name="Edit" value="Edit">
</form>
<form action="/users/<%=@deck.user.id%>/decks/<%=@deck.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

<a class="anchor-link" href="/users/<%=@deck.user.id%>/decks">Return to your decks</a>
