<h1>Title: <%=@deck.title%></h1>

<%@deck.cards.each_with_index do |card, index|%>
    <p><%=index + 1%></p>
    <p><%=card.front_side%></p>
    <p><%=card.back_side%></p>
    <p><%=card.learnt%></p>
    <a href="/cards/<%=card.id%>/edit">Edit card</a>
    <a href="/cards/<%=card.id%>/edit">Delete card</a>
<%end%>

<a href="/decks/<%=@deck.id%>/edit">Edit deck Title or category</a>
